@import url(https://fonts.googleapis.com/css?family=Dosis:700);


body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #242424;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.content {
    background-color: #f4f4f4;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header-text {
    color: #fafafa;
    font-size: 18px;
    flex-grow: 1; /* Expand to take available space */
    text-align: right;
}

.background-image {
    background: url('../static/bg.jpg') center/cover no-repeat; /* Update the image URL */
    padding: 50px;
    text-align: center;
    background-repeat: repeat; /* This will repeat the image both horizontally and vertically */
    background-size: cover;
    color: white;
    height: 100%;
    width: 100%;
}

.overlay {
    background-color: rgba(36, 36, 36, 0.4); /* Transparent box background */
    padding: 50px 50px 0px;
    text-align: center;
    color: #f4f4f4;
    max-width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    font-size: 24px;
}

.button {
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter,sans-serif;
  font-size: 2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 3rem 5rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
  
.water-jar {
width: 280px;
height: 280px;
position: relative;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
border-radius: 0% 0% 0% 0%;
overflow: hidden;
border-left: 40px solid transparent;
border-right: 40px solid transparent;
}



.water-jar .water-filling {
position: absolute;
left: 0;
top: 0;
z-index: 3;
width: 100%;
height: 100%;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
display: -webkit-flex;
-webkit-box-align: center;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
-webkit-box-pack: center;
-webkit-justify-content: center;
-ms-flex-pack: center;
justify-content: center;
color: #fff;
font-size: 64px;
}
.water-jar .water {
position: absolute;
left: 0;
top: 0;
z-index: 2;
width: 100%;
height: 100%;
-webkit-transform: translate(0, 100%);
transform: translate(0, 100%);
background: #4ea24e;
}
.water-jar .water_wave {
width: 200%;
position: absolute;
bottom: 100%;
}
.water-jar .water_wave_back {
right: 0;
fill: #acd8a7;
-webkit-animation: wave-back 1.4s infinite linear;
        animation: wave-back 1.4s infinite linear;
}
.water-jar .water_wave_front {
left: 0;
fill: #4ea24e;
margin-bottom: -1px;
-webkit-animation: wave-front .7s infinite linear;
        animation: wave-front .7s infinite linear;
}

@-webkit-keyframes wave-front {
100% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
}
}

@keyframes wave-front {
100% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
}
}
@-webkit-keyframes wave-back {
100% {
    -webkit-transform: translate(50%, 0);
            transform: translate(50%, 0);
}
}
@keyframes wave-back {
100% {
    -webkit-transform: translate(50%, 0);
            transform: translate(50%, 0);
}
}




.value {
  border-bottom: 4px dashed #bdc3c7;
  text-align: center;
  font-weight: bold;
  font-size: 6em;
  width: 250px; 
  height: 100px;
  line-height: 60px;
  margin: 40px auto;
  letter-spacing: 0.01em;
  text-shadow: white 2px 2px 2px;
}

input[type="range"] {
  display: block;
  -webkit-appearance: none;
  background-color: #bdc3c7;
  width: 250px;
  height: 5px;
  border-radius: 5px;
  margin: 0 auto;
  outline: 0;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #e74c3c;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
  transition: .3s ease-in-out;
}​
input[type="range"]::-webkit-slider-thumb:hover {
background-color: white;
border: 2px solid #e74c3c;
}
input[type="range"]::-webkit-slider-thumb:active {
transform: scale(1.6);
}